.topbar {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: rgba(246, 242, 237, 0.159);
}

.searchbar {
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: center;
}

.input-text {
  width: 80%;
}
